
<header>
  <h1>Bike Shop</h1>
  <h2>CareerFoundry</h2>
</header>

<div class="container">
	<div class="col-xl-12">
    <%= link_to image_tag("zxr08rep.jpg", class: "img-responsive"), products_url %>
	</div> 
</div>
